In [17]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [18]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-01-24 23:30:22,-53.1500,-70.9167,51.80,50,0,25.32
1,1,Rikitea,PF,2021-01-24 23:30:23,-23.1203,-134.9692,80.31,68,2,10.38
2,2,Tuatapere,NZ,2021-01-24 23:30:23,-46.1333,167.6833,60.01,84,99,21.00
3,3,Dikson,RU,2021-01-24 23:30:23,73.5069,80.5464,-15.41,89,100,12.17
4,4,Razole,IN,2021-01-24 23:30:23,16.4833,81.8333,64.89,93,18,2.55

In [19]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [27]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-01-24 23:30:23,-23.1203,-134.9692,80.31,68,2,10.38
6,6,Buin,CL,2021-01-24 23:30:24,-33.7333,-70.7500,84.00,41,0,6.91
9,9,Jutai,BR,2021-01-24 23:30:24,-5.1833,-68.9000,74.43,94,96,1.10
11,11,Arraial Do Cabo,BR,2021-01-24 23:30:25,-22.9661,-42.0278,76.15,85,78,18.45
13,13,Hilo,US,2021-01-24 23:30:26,19.7297,-155.0900,78.80,65,40,6.91
15,15,Codrington,AU,2021-01-24 23:30:26,-38.2667,141.9667,76.57,43,97,2.62
19,19,Biak,ID,2021-01-24 23:30:27,-0.9131,122.8766,75.76,82,100,3.15
24,24,Imbituba,BR,2021-01-24 23:30:28,-28.2400,-48.6703,71.60,100,90,4.61
28,28,Georgetown,MY,2021-01-24 23:30:29,5.4112,100.3354,80.01,89,20,3.44
30,30,Kununurra,AU,2021-01-24 23:30:29,-15.7667,128.7333,80.60,94,100,2.71

In [28]:
preferred_cities_df.count()

City_ID       213
City          213
Country       211
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     80.31 -23.1203 -134.9692
6              Buin      CL     84.00 -33.7333  -70.7500
9             Jutai      BR     74.43  -5.1833  -68.9000
11  Arraial Do Cabo      BR     76.15 -22.9661  -42.0278
13             Hilo      US     78.80  19.7297 -155.0900
15       Codrington      AU     76.57 -38.2667  141.9667
19             Biak      ID     75.76  -0.9131  122.8766
24         Imbituba      BR     71.60 -28.2400  -48.6703
28       Georgetown      MY     80.01   5.4112  100.3354
30        Kununurra      AU     80.60 -15.7667  128.7333

In [46]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key, 
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
except (IndexError):
    print("Hotel not found... skipping.")
    
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Rikitea      PF     80.31 -23.1203 -134.9692
6              Buin      CL     84.00 -33.7333  -70.7500
9             Jutai      BR     74.43  -5.1833  -68.9000
11  Arraial Do Cabo      BR     76.15 -22.9661  -42.0278
13             Hilo      US     78.80  19.7297 -155.0900
15       Codrington      AU     76.57 -38.2667  141.9667
19             Biak      ID     75.76  -0.9131  122.8766
24         Imbituba      BR     71.60 -28.2400  -48.6703
28       Georgetown      MY     80.01   5.4112  100.3354
30        Kununurra      AU     80.60 -15.7667  128.7333

In [42]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))