## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kanigoro,ID,-8.1300,112.2190,77.79,82,96,2.66,overcast clouds
1,1,Faanui,PF,-16.4833,-151.7500,81.61,74,51,17.45,broken clouds
2,2,Saskylakh,RU,71.9167,114.0833,-35.52,82,35,2.04,scattered clouds
3,3,Ponta Do Sol,PT,32.6667,-17.1000,62.60,77,40,3.44,scattered clouds
4,4,Vesoul,FR,47.5833,5.8333,30.20,93,0,6.91,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kanigoro,ID,-8.1300,112.2190,77.79,82,96,2.66,overcast clouds
1,1,Faanui,PF,-16.4833,-151.7500,81.61,74,51,17.45,broken clouds
7,7,Busselton,AU,-33.6500,115.3333,70.00,59,1,5.99,clear sky
8,8,Mpulungu,ZM,-8.7623,31.1141,71.08,74,93,3.83,light rain
10,10,Atuona,PF,-9.8000,-139.0333,78.48,79,2,17.07,clear sky
13,13,Bol,TD,13.4586,14.7147,73.22,33,90,17.60,overcast clouds
14,14,Carnarvon,AU,-24.8667,113.6333,77.00,50,40,29.93,scattered clouds
15,15,East London,ZA,-33.0153,27.9116,72.97,86,100,9.17,light rain
19,19,Hilo,US,19.7297,-155.0900,78.80,65,75,10.36,light rain
21,21,Mar Del Plata,AR,-38.0023,-57.5575,70.00,94,75,4.61,mist

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                242
City                   242
Country                241
Lat                    242
Lng                    242
Max Temp               242
Humidity               242
Cloudiness             242
Wind Speed             242
Current Description    242
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df= preferred_cities_df.dropna()

In [7]:
clean_df.count()

City_ID                241
City                   241
Country                241
Lat                    241
Lng                    241
Max Temp               241
Humidity               241
Cloudiness             241
Wind Speed             241
Current Description    241
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kanigoro,ID,77.79,overcast clouds,-8.1300,112.2190,
1,Faanui,PF,81.61,broken clouds,-16.4833,-151.7500,
7,Busselton,AU,70.00,clear sky,-33.6500,115.3333,
8,Mpulungu,ZM,71.08,light rain,-8.7623,31.1141,
10,Atuona,PF,78.48,clear sky,-9.8000,-139.0333,
13,Bol,TD,73.22,overcast clouds,13.4586,14.7147,
14,Carnarvon,AU,77.00,scattered clouds,-24.8667,113.6333,
15,East London,ZA,72.97,light rain,-33.0153,27.9116,
19,Hilo,US,78.80,light rain,19.7297,-155.0900,
21,Mar Del Plata,AR,70.00,mist,-38.0023,-57.5575,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kanigoro,ID,77.79,overcast clouds,-8.1300,112.2190,Musafer Villa ( Villa Erlin )
1,Faanui,PF,81.61,broken clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Busselton,AU,70.00,clear sky,-33.6500,115.3333,Observatory Guest House
8,Mpulungu,ZM,71.08,light rain,-8.7623,31.1141,Nhkupi Lodge
10,Atuona,PF,78.48,clear sky,-9.8000,-139.0333,Villa Enata
13,Bol,TD,73.22,overcast clouds,13.4586,14.7147,Hotel 3 Etoiles
14,Carnarvon,AU,77.00,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
15,East London,ZA,72.97,light rain,-33.0153,27.9116,Tu Casa
19,Hilo,US,78.80,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Mar Del Plata,AR,70.00,mist,-38.0023,-57.5575,Gran Hotel Mar del Plata

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.dropna()
clean_hotel_df.count()

City                   241
Country                241
Max Temp               241
Current Description    241
Lat                    241
Lng                    241
Hotel Name             241
dtype: int64

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))